<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>adminlogin</servlet-name>
		<servlet-class>Servlets.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminlogin</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>studentlogin</servlet-name>
		<servlet-class>Servlets.StudentLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studentlogin</servlet-name>
		<url-pattern>/userlogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addbook</servlet-name>
		<servlet-class>Servlets.AddBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addbook</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addstudent</servlet-name>
		<servlet-class>Servlets.AddStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addstudent</servlet-name>
		<url-pattern>/addstudent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loaddel</servlet-name>
		<servlet-class>Servlets.LoadDeleteBookPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loaddel</servlet-name>
		<url-pattern>/loaddel</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>Servlets.DeleteBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/deletebook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loadissue</servlet-name>
		<servlet-class>Servlets.loadIssueBookpage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadissue</servlet-name>
		<url-pattern>/lissuebooks</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>req-book</servlet-name>
		<servlet-class>Servlets.AddBookReq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>req-book</servlet-name>
		<url-pattern>/req-book</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>load-req</servlet-name>
		<servlet-class>Servlets.loadRequestPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>load-req</servlet-name>
		<url-pattern>/load-req</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>req-grant</servlet-name>
		<servlet-class>Servlets.GrantRequests</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>req-grant</servlet-name>
		<url-pattern>/grant</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>re-grant</servlet-name>
		<servlet-class>Servlets.GrantReturn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>re-grant</servlet-name>
		<url-pattern>/grantreturn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getissues</servlet-name>
		<servlet-class>Servlets.getStudentIssues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getissues</servlet-name>
		<url-pattern>/lstudentissue</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>return-page</servlet-name>
		<servlet-class>Servlets.StudentBookReturnReq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>return-page</servlet-name>
		<url-pattern>/returnreq</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>getallissues</servlet-name>
		<servlet-class>Servlets.GetAllIssuedBooks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getallissues</servlet-name>
		<url-pattern>/loadallissue</url-pattern>
	</servlet-mapping>
</web-app>
